APP_ENV=dev
BYBIT_BASE_URL=https://api.bybit.com
BYBIT_WS_LINEAR_URL=wss://stream.bybit.com/v5/public/linear
LIVE_STREAM_ENABLED=false
LIVE_STREAM_SYMBOLS=BTCUSDT,ETHUSDT,BNBUSDT
DEFAULT_ACCOUNT_EQUITY=5000
DEFAULT_MAX_PORTFOLIO_RISK_PCT=0.02
